<!-- <style>
    textarea {
        border-color: red;
        border-radius: 10px;
    }
    h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', monospace, 'Trebuchet MS', sans-serif;
    }
    .button {
        background-color: aquamarine;
        font-family: monospace;
        border-radius: 0px;
    }
</style>
<h1>ASCII ART WEB</h1>

<form method = "POST" action="/ascii-art">
    <p>Please select your favorite Font:</p>
    <input type="radio" id="standard" name="font" value="standard" checked>
    <label for="standard">standard</label><br>
    <input type="radio" id="shadow" name="font" value="shadow">
    <label for="shadow">shadow</label><br>
    <input type="radio" id="thinkertoy" name="font" value="thinkertoy">
    <label for="thinkertoy">thinkertoy</label>
  
    <br>  
  
    <p>Please insert the text:</p>

    <textarea id="w3review" name="w3review1" rows="10" cols="50" placeholder="write here"></textarea>
    <input type="submit" value="Submit" style="margin-top: -90px;" class="button">
    </br>
    <pre>{{.}}</pre>
  </form> -->

  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Website With Login & Registration</title>
    <link rel="stylesheets" href="stylize.css">
  </head>

  <body>
    <header>
        <h2 class="logo">Logo</h2>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>
  </body>

  <form method = "POST" action="/ascii-art">
    <p>Please select your favorite Font:</p>
    <input type="radio" id="standard" name="font" value="standard" checked>
    <label for="standard">standard</label><br>
    <input type="radio" id="shadow" name="font" value="shadow">
    <label for="shadow">shadow</label><br>
    <input type="radio" id="thinkertoy" name="font" value="thinkertoy">
    <label for="thinkertoy">thinkertoy</label>
  
    <br>  
  
    <p>Please insert the text:</p>

    <textarea id="w3review" name="w3review1" rows="10" cols="50" placeholder="write here"></textarea>
    <input type="submit" value="Submit" style="margin-top: -90px;" class="button">
    </br>
    <pre>{{.}}</pre>
  </form> -->